@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	::root {
		--color-primary: 255 115 179;
	}

	body {
		@apply m-0 p-0 h-full text-sm text-gray-500 bg-light dark:bg-dark dark:text-gray-400 transition-colors duration-300;
	}

	hr {
		margin: 1rem 0;
		color: inherit;
		border: 0;
		border-top: 1px solid;
		opacity: 0.25;
	}

	h6,
	.h6,
	h5,
	.h5,
	h4,
	.h4,
	h3,
	.h3,
	h2,
	.h2,
	h1,
	.h1 {
		margin-top: 0;
		margin-bottom: 0.5rem;
		font-weight: 600;
		line-height: 1.2;
		color: #181c32;
	}

	h1,
	.h1 {
		font-size: calc(1.3rem + 0.6vw);
	}
	@media (min-width: 1200px) {
		h1,
		.h1 {
			font-size: 1.75rem;
		}
	}

	h2,
	.h2 {
		font-size: calc(1.275rem + 0.3vw);
	}
	@media (min-width: 1200px) {
		h2,
		.h2 {
			font-size: 1.5rem;
		}
	}

	h3,
	.h3 {
		font-size: calc(1.26rem + 0.12vw);
	}

	@media (min-width: 1200px) {
		h3,
		.h3 {
			font-size: 1.35rem;
		}
	}

	h4,
	.h4 {
		font-size: 1.25rem;
	}

	h5,
	.h5 {
		font-size: 1.15rem;
	}

	h6,
	.h6 {
		font-size: 1.075rem;
	}

	p {
		margin-top: 0;
		margin-bottom: 1rem;
	}
}

@layer components {
	.aside {
		@apply fixed top-[100px] bottom-[30px] left-[30px] z-50 overflow-hidden w-[300px] rounded-3xl bg-white dark:bg-dark-dept-1;
	}

	.header {
		@apply fixed h-[50px] md:h-[75px] z-50 top-0 left-0 right-0 flex items-stretch bg-primary dark:bg-dark;
	}

	.wrapper {
		@apply pt-[50px] md:pt-[75px] py-0 px-[15px] lg:pl-[330px] flex flex-col flex-auto;
	}

	.menu-item {
		@apply block py-[0.15rem] px-0 w-full;
	}

	.menu-link {
		@apply cursor-pointer flex items-center py-2 px-4 outline-none transition-none rounded-xl;
	}

	.menu-item .menu-link .menu-icon {
		@apply flex flex-shrink-0 items-center w-6 mr-1;
	}

	.menu-item .menu-link .menu-title {
		@apply flex items-center flex-grow;
	}

	.page-title {
		@apply flex flex-col font-bold text-lg mb-0;
	}

	.container-fuild {
		@apply px-0 max-w-none lg:w-full lg:py-0 lg:px-[30px];
	}

	.btn.btn-icon {
		@apply inline-flex items-center justify-center;
	}

	.topbar .topbar-item {
		@apply flex items-center mr-2 lg:mr-4 relative;
	}

	.topbar .topbar-item .topbar-btn {
		@apply w-[33px] h-[33px] md:btn-icon-size rounded-lg bg-white bg-opacity-20 hover:bg-red-300 dark:hover:bg-red-900 transition-colors duration-300;
	}

	.topbar-btn.active {
		@apply bg-red-300 dark:bg-red-900 !important;
	}

	.topbar .topbar-icon {
		@apply text-white dark:text-gray-400 text-lg;
	}

	.btn {
		@apply flex items-center py-2 px-3 rounded-lg border-0 transition duration-300 box-border
		enabled:active:outline-2 enabled:active:outline enabled:active:outline-red-200 dark:enabled:active:outline-red-200
		disabled:cursor-not-allowed disabled:opacity-50;
	}

	.btn-primary {
		@apply bg-primary text-white  dark:text-gray-300 enabled:hover:bg-red-800 border border-primary enabled:hover:border-red-800
		dark:enabled:hover:dark-hover-bg-primary;
	}

	.btn-light-primary {
		@apply bg-light-primary text-primary border hover-bg-light-primary dark:text-red-800
		dark:hover:enabled:bg-red-900 dark:hover:enabled:border-red-900 dark:enabled:hover:text-gray-300;
	}

	.btn-outline-primary {
		@apply border border-primary text-primary dark:text-red-700 dark:border-red-700
            enabled:hover:bg-primary enabled:hover:text-gray-300 dark:hover:enabled:bg-red-800 dark:hover:enabled:border-red-900;
	}

	.btn-secondary {
		@apply border border-gray-100 bg-gray-100 enabled:hover:bg-gray-200 enabled:hover:border-gray-200
		dark:bg-gray-500 dark:border-gray-500 dark:text-gray-300 dark:hover:enabled:bg-gray-600 dark:hover:enabled:border-gray-600;
	}

	.btn-outline-secondary {
		@apply border border-gray-300 enabled:hover:bg-gray-100 enabled:hover:border-gray-100 
		dark:enabled:hover:bg-gray-500 dark:enabled:hover:border-gray-500 dark:enabled:hover:text-gray-300 dark:enabled:border-[#5c5c5c];
	}

	.btn-light-text-primary {
		@apply border text-primary enabled:hover:bg-btn-light-primary 
            enabled:hover:border-border-btn-light-primary dark:text-red-800 dark:bg-gray-400 dark:border-gray-400
            dark:hover:enabled:dark-bg-light-primary;
	}

	.btn-sm {
		@apply text-xs;
	}

	.btn-md {
		@apply text-sm;
	}

	.btn-lg {
		@apply text-base;
	}

	.btn-xl {
		@apply text-lg;
	}

	.btn-icon {
		@apply text-lg px-2;
	}

	.backdrop {
		@apply inset-0 fixed dark:bg-dark/50 overflow-hidden backdrop-blur dark:backdrop-blur-none;
	}

	.alert-container {
		@apply relative transform overflow-hidden rounded-lg bg-white dark:bg-dark-dept-1 text-left shadow-xl dark:shadow-none transition-all sm:my-8 sm:max-w-lg w-[500px];
	}

	.alert-content {
		@apply dark:bg-dark-dept-1 bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4;
	}

	.alert-action {
		@apply dark:bg-dark-dept-2 px-4 py-3 flex justify-center sm:justify-end sm:px-6 gap-2;
	}

	.text-danger {
		@apply text-red-500 dark:text-red-700;
	}

	.text-success {
		@apply text-green-500 dark:text-green-600;
	}

	.text-warning {
		@apply text-yellow-500 dark:text-yellow-600;
	}
}

@layer utilities {
	.bg-primary {
		@apply bg-red-700 dark:bg-red-900;
	}

	.dark-hover-bg-primary {
		background-color: #651715;
		border-color: #651715;
	}

	.bg-light-primary {
		@apply bg-btn-light-primary border-border-btn-light-primary dark:dark-bg-light-primary;
	}

	.dark-bg-light-primary {
		background-color: #d5b5b3;
		border-color: #d5b5b3;
	}

	.hover-bg-light-primary {
		@apply hover:enabled:bg-btn-hover-light-primary hover:enabled:border-border-btn-hover-light-primary;
	}

	.text-primary {
		@apply text-red-700 dark:text-red-900;
	}

	.border-primary {
		@apply border-red-700 dark:border-red-900;
	}

	.text-dark {
		color: #181c32;
	}

	.btn-icon-size {
		height: calc(1.5em + 1rem + 2px);
		width: calc(1.5em + 1rem + 2px);
	}

	.btn-icon-size-account {
		height: calc(1.5em + 1rem + 8px);
		width: calc(1.5em + 1rem + 8px);
	}

	.font-inter-thin {
		font-family: var(--font-inter);
		font-weight: 100;
	}

	.font-inter-light {
		font-family: var(--font-inter);
		font-weight: 300;
	}

	.font-inter {
		font-family: var(--font-inter);
		font-weight: 400;
	}

	.font-inter-semibold {
		font-family: var(--font-inter);
		font-weight: 600;
	}

	.font-inter-bold {
		font-family: var(--font-inter);
		font-weight: 700;
	}

	.separator {
		@apply block border-b border-b-border-light dark:border-b-border-dark h-0;
	}

	.topbar-box-shadow-dark {
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
	}

	.topbar-content-bg-dark {
		background-color: #1f1f1f;
	}
}
